.cursor-node {
    background-color: hsl(212, 100%, 80%);
}

.children-list {
    font-size: 8px;
}

.padding-lines {
    display: inline;
}

.deadline {
    width: 110px;
    display: inline-block;
    background-color: hsl(0, 100%, 80%);
    color: hsl(0, 100%, 100%);
}

.deadline-input-day {
    width: 14px;
}

.deadline-input-month {
    width: 14px;
}

.deadline-input-year {
    width: 28px;
}

.deadline-input-hour {
    width: 14px;
}
