.list-item {
    cursor: default;
}

.cursor-node {
    background-color: hsl(212, 100%, 80%);
}

a {
    color: hsl(220, 90%, 45%);
}

a:hover {
    color: hsl(220, 90%, 30%);
}

.children-list {
    font-size: 8px;
    cursor: pointer;
}

.padding-lines {
    display: inline;
    cursor: default;
}

.deadline {
    width: 110px;
    display: inline-block;
    background-color: hsl(0, 100%, 80%);
    color: hsl(0, 100%, 100%);
}

.deadline-input-day {
    width: 14px;
}

.deadline-input-month {
    width: 14px;
}

.deadline-input-year {
    width: 28px;
}

.deadline-input-hour {
    width: 14px;
}
